<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connString" connectionString="Data Source=HOME-PC\MSSQLSERVER02;Initial Catalog=tradingCompany;Integrated Security=True"/>
		<add name="TestconnString" connectionString="Data Source=HOME-PC\MSSQLSERVER02;Initial Catalog=tradingCompany;Integrated Security=True"/>
	</connectionStrings>
</configuration>